h1{
	color: violet;
	background-color: gray;
	FONT-SIZE: 46px;
	Text-decoration: underline;
	font-family: Arial;
}
a {
	color: white;
	background-color: grey;
	text-decoration: none;
}
a:hover {
	background-color: black;
}